<footer>
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-3 col-12 d-flex flex-column align-items-start">
        <div>
          <img
            src="../../../assets/Img/LOGO-COLORATO.png"
            alt="Logo"
            class="img-fluid"
          />
        </div>
        <div>
          <p class="ps-3 pt-3">
            Il Cinema Partenio, da 3 Generazioni, racconta la storia di Avellino
            attraverso la Storia del Cinema.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-12 pt-4 pt-md-0">
        <h3 class="title">Socials</h3>
        <hr />
        <div class="">
          <a
            href="https://www.instagram.com/cinemapartenio/"
            class="footer-link d-flex align-items-baseline"
            target="_blank"
          >
            <i class="bi bi-instagram fs-5 pe-2"></i>
            <p>INSTAGRAM</p></a
          >
        </div>
        <div class="pt-2">
          <a
            href="https://www.facebook.com/cinemapartenio/"
            class="footer-link d-flex align-items-baseline"
            target="_blank"
          >
            <i class="bi bi-facebook fs-5 pe-2"></i>
            <p>FACEBOOK</p></a
          >
        </div>
      </div>
      <div class="col-md-4 col-12 pt-4 pt-md-0">
        <h3 class="title">Contatti</h3>
        <hr />
        <div>
          <a
            href="https://maps.app.goo.gl/RAqohLFoqwyW6yc16"
            target="_blank"
            class="d-flex footer-link align-items-baseline"
          >
            <i class="bi bi-geo fs-5 pe-2"></i>
            <p>Via Giuseppe Verdi, 50 (Avellino)</p>
          </a>
        </div>
        <div class="pt-2 w-100">
          <a
            href="mailto:cinemapartenio@gmail.com"
            class="footer-link d-flex align-items-baseline"
          >
            <i class="bi bi-envelope fs-5 pe-2"></i>
            <p>cinemapartenio&#64;gmail.com</p></a
          >
        </div>
        <div class="pt-2">
          <a
            href="tel:082537119"
            class="footer-link d-flex align-items-baseline"
          >
            <i class="bi bi-telephone fs-5 pe-2"></i>
            <p>082537119</p>
          </a>
        </div>
      </div>
      <div class="col-12 pt-2">
        <p>&copy;copyright 2021 Virgo29 Creative Agency</p>
      </div>
    </div>
  </div>
</footer>
