<div class="container">
  <div class="row">
    <div class="col-12">
      <!-- <h1>Bentornato {{ user.name }}</h1> -->
    </div>
    <div class="col-5 custom-container">
      <h5>Gestione Film</h5>
      <a class="custom-link-on-black" routerLink="movie-management"> Vai </a>
    </div>
    <div class="col-5 custom-container">
      <h5>Gestione Sale</h5>
      <a class="custom-link-on-black" routerLink="hall-management"> Vai </a>
    </div>
    <div class="col-5 custom-container">
      <h5>Gestione Prodotti</h5>
      <a class="custom-link-on-black" routerLink="product-management"> Vai </a>
    </div>
  </div>
</div>
