.my-container {
  border-bottom: 1px solid rgba(108, 117, 125, 0.75);
  padding: 2em 0 2em 0;
  margin: 0 auto;
  img {
    border-radius: 10px;
  }
}

.modal-body {
  ul {
    li {
      padding: 1em;
      border-radius: 5px;
      border: 1px solid rgba(112, 25, 66, 1);
      transition: all 0.3s ease;
      &:hover {
        background-color: rgba(112, 25, 66, 1);
        cursor: pointer;
      }
    }
  }
}
